<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Genius Home</title>
</head>
<body>
    <h1>Select your groceries:</h1>
    <form action="/recommend" method="post">
        {% for grocery in groceries %}
        <input type="checkbox" name="grocery" value="{{ grocery }}" id="{{ grocery }}"><label for="{{ grocery }}">{{ grocery }}</label><br>
        {% endfor %}
        <br>
        <!-- Add more checkboxes for other groceries -->
        <br>
        <input type="submit" value="Buy">
    </form>
</body>
</html>
